# Dependencies
node_modules/

# Environment
.env
.envrc.local
.env.local

# Database
*.db
*.db-journal

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Prisma
prisma/migrations/